<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Professeur Management System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>

    <div class="container my-2">
        <h1>Gestion Ecole</h1>

        <a th:href="@{/gererProfesseur}" class="btn btn-primary btn-sm mb-3"> Gerer Professeur </a>
        <a th:href="@{/gererEleve}" class="btn btn-primary btn-sm mb-3"> Gerer Eleve </a>
        <a th:href="@{/gererMatiere}" class="btn btn-primary btn-sm mb-3"> Gerer Matiere </a>
        <a th:href="@{/gererNoter}" class="btn btn-primary btn-sm mb-3"> Gerer Note </a>
        <a th:href="@{/gererClasse}" class="btn btn-primary btn-sm mb-3"> Gerer classe </a>
        <a th:href="@{/showNewProfesseurForm}" class="btn btn-primary btn-sm mb-3"> Gerer Faire Cour </a>

        
    </div>
</body>

</html>